<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/admin.css" />
  </head>
  <body>
    <div class="loader">
      <img id="pizza" src="images/pizza-loading.svg" alt="loading screen" />
      <p class="loading">Loading...</p>
    </div>

    <header class="header">
      <section class="flex">
        <a href="#" class="logo">La Ratatouille</a>
        <div class="right">
          <nav class="navbar">
            <a href="#" id="actv">Dashboard</a>
            <a href="/admin_order_history">Order history</a>
            <a href="/admin_add_item">Add item</a>
            <a href="/admin_modify_item">Modify item</a>
            <a href="admin_stuff_login">Logout</a>
          </nav>
          <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
          </div>
        </div>
      </section>
    </header>

    <div class="report">
      <h3 class="title">Admin Dashboard</h3>
      <h4 class="title small-title">Today's order info</h4>
      <section class="box-container">
        <div class="box">
          <p>Total placed orders</p>
          <p><span>100</span></p>
        </div>

        <div class="box">
          <p>Pending orders</p>
          <p><span>100</span></p>
        </div>

        <div class="box">
          <p>Served orders</p>
          <p><span>100</span></p>
        </div>

        <div class="box">
          <p>Completed orders</p>
          <p><span>100</span></p>
        </div>

        <div class="box">
          <p>Total income</p>
          <p><span>25,000</span></p>
        </div>
      </section>
    </div>

    <table class="tbl">
      <caption>
        Recent orders
      </caption>
      <tr>
        <th>Order ID</th>
        <th>Customer ID</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Status</th>
      </tr>

      <tr>
        <td>onek lomba order id</td>
        <td>onek lomba customer id</td>
        <td>onek lomba price</td>
        <td>onek gulo order. onek jayga dorkar. hae hae onek jayga dorkar</td>
        <td>
          <form action="change_status" method="post">
            <input type="hidden" name="oid" value="1" />
            <select name="sel" class="sel" onchange="this.form.submit()">
              <option value="pending">Pending</option>
              <option value="served">Served</option>
              <option value="completed">Completed</option>
            </select>
          </form>
        </td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>
          <form action="change_status" method="post">
            <input type="hidden" name="oid" value="2" />
            <select name="sel" class="sel" onchange="this.form.submit()">
              <option value="pending">Pending</option>
              <option value="served">Served</option>
              <option value="completed">Completed</option>
            </select>
          </form>
        </td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>
          <form action="change_status" method="post">
            <input type="hidden" name="oid" value="3" />
            <select name="sel" class="sel" onchange="this.form.submit()">
              <option value="pending">Pending</option>
              <option value="served">Served</option>
              <option value="completed">Completed</option>
            </select>
          </form>
        </td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>
          <form action="change_status" method="post">
            <input type="hidden" name="oid" value="4" />
            <select name="sel" class="sel" onchange="this.form.submit()">
              <option value="pending">Pending</option>
              <option value="served">Served</option>
              <option value="completed">Completed</option>
            </select>
          </form>
        </td>
      </tr>
    </table>

    <script src="js/loader.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
