<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order history</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/admin.css" />
  </head>
  <body>
    <div class="loader">
      <img id="pizza" src="images/pizza-loading.svg" alt="loading screen" />
      <p class="loading">Loading...</p>
    </div>

    <header class="header">
      <section class="flex">
        <a href="#" class="logo">La Ratatouille</a>
        <div class="right">
          <nav class="navbar">
            <a href="/admin_dashboard">Dashboard</a>
            <a href="#" id="actv">Order history</a>
            <a href="/admin_add_item">Add item</a>
            <a href="/admin_modify_item">Modify item</a>
            <a href="admin_stuff_login">Logout</a>
          </nav>
          <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
          </div>
        </div>
      </section>
    </header>

    <div class="report">
      <h3 class="title">Order History</h3>
    </div>

    <table class="tbl" style="margin-bottom: 5rem">
      <tr>
        <th>Order ID</th>
        <th>Customer ID</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Status</th>
      </tr>

      <tr>
        <td>onek lomba order id</td>
        <td>onek lomba customer id</td>
        <td>onek lomba price</td>
        <td>onek gulo order. onek jayga dorkar. hae hae onek jayga dorkar</td>
        <td style="color: var(--green)">Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td style="color: var(--dark-blue)">Served</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td style="color: var(--yellow)">Pending</td>
      </tr>

      <tr>
        <td>onek lomba order id</td>
        <td>onek lomba customer id</td>
        <td>onek lomba price</td>
        <td>onek gulo order. onek jayga dorkar. hae hae onek jayga dorkar</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>onek lomba order id</td>
        <td>onek lomba customer id</td>
        <td>onek lomba price</td>
        <td>onek gulo order. onek jayga dorkar. hae hae onek jayga dorkar</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>onek lomba order id</td>
        <td>onek lomba customer id</td>
        <td>onek lomba price</td>
        <td>onek gulo order. onek jayga dorkar. hae hae onek jayga dorkar</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>onek lomba order id</td>
        <td>onek lomba customer id</td>
        <td>onek lomba price</td>
        <td>onek gulo order. onek jayga dorkar. hae hae onek jayga dorkar</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>

      <tr>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>text</td>
        <td>Completed</td>
      </tr>
    </table>

    <script src="js/loader.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
