<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    /> -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header class="header">
      <section class="flex">
        <a href="home" class="logo">RESTAURANT</a>
        <nav class="navbar">
          <a href="home">home</a>
          <a href="menu">menu</a>
          <a href="orders">orders</a>
          <a href="cart">your cart</a>
          <a href="profile">profile</a>
        </nav>
        <div class="icons">
          <a href="cart"><i class="fas fa-shopping-cart"></i></a>
          <div id="user-btn" class="fas fa-user"></div>
          <div id="menu-btn" class="fas fa-bars"></div>
        </div>
        <div class="profile">
          <p class="name">Mamdo Bhoot</p>
          <div class="flex">
            <a href="profile" class="btn">profile</a>
            <a href="#" class="delete-btn">logout</a>
          </div>
          <p class="account">
            <a href="login">login</a> or
            <a href="register">register</a>
          </p>
        </div>
      </section>
    </header>
    <section class="showcase">
      <video
        src="videos/Restaurant food cinematic.mp4"
        muted
        loop
        autoplay
      ></video>
      <div class="welcome-text">
        <h2>We Cook</h2>
        <h3>What you love</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <a href="#">see the menu</a>
      </div>
    </section>
    <section class="category">
      <h1 class="title">food category</h1>

      <div class="box-container">
        <%
        if(category.length > 0)
        {
          category.forEach(function(category){
        
        %>
        <a href="category.html" class="box">
          <img src="images/cat-1.png" alt="" />
          <h3><%= category.type %></h3>
        </a>

        <!-- <a href="category.html" class="box">
          <img src="images/cat-2.png" alt="" />
          <h3>traditional dishes</h3>
        </a>

        <a href="category.html" class="box">
          <img src="images/cat-3.png" alt="" />
          <h3>desserts</h3>
        </a>

        <a href="category.html" class="box">
          <img src="images/cat-4.png" alt="" />
          <h3>drinks</h3>
        </a> -->
        <%
          });
        }
        %>
      </div>
    </section>

    <section class="products">
      <h1 class="title">MENU</h1>

      <div class="box-container">

        <%
          if(data.length > 0)
          {
            data.forEach(function(data){
        %>

          <form accept="" method="post" class="box">
          <a href="quick_view.html" class="fas fa-eye"></a>
          <button
            class="fas fa-shopping-cart"
            type="submit"
            name="add_to_cart"
          ></button>
          <img src="images/food.jpeg" alt="" />
          <a href="category.html" class="cat"><%= data.type %></a>
          <div class="name"><%= data.title %></div>
          <div class="flex">
            <div class="price"><span>BDT</span><%= data.price %><span>/-</span></div>
            <input
              type="number"
              name="qty"
              class="qty"
              min="1"
              max="99"
              value="1"
              onkeypress="if(this.value.length == 2) return false;"
            />
          </div>
        </form>

        <%
            });
          }
        %>

        <!-- <form accept="" method="post" class="box">
          <a href="quick_view.html" class="fas fa-eye"></a>
          <button
            class="fas fa-shopping-cart"
            type="submit"
            name="add_to_cart"
          ></button>
          <img src="uploaded_img/dish-1.png" alt="" />
          <a href="category.html" class="cat">dishes</a>
          <div class="name">main dish 01</div>
          <div class="flex">
            <div class="price"><span>$</span>3<span>/-</span></div>
            <input
              type="number"
              name="qty"
              class="qty"
              min="1"
              max="99"
              value="1"
              onkeypress="if(this.value.length == 2) return false;"
            />
          </div>
        </form>

        <form accept="" method="post" class="box">
          <a href="quick_view.html" class="fas fa-eye"></a>
          <button
            class="fas fa-shopping-cart"
            type="submit"
            name="add_to_cart"
          ></button>
          <img src="uploaded_img/burger-1.png" alt="" />
          <a href="category.html" class="cat">fast food</a>
          <div class="name">chezzy hamburger 01</div>
          <div class="flex">
            <div class="price"><span>$</span>3<span>/-</span></div>
            <input
              type="number"
              name="qty"
              class="qty"
              min="1"
              max="99"
              value="1"
              onkeypress="if(this.value.length == 2) return false;"
            />
          </div>
        </form>

        <form accept="" method="post" class="box">
          <a href="quick_view.html" class="fas fa-eye"></a>
          <button
            class="fas fa-shopping-cart"
            type="submit"
            name="add_to_cart"
          ></button>
          <img src="uploaded_img/dessert-1.png" alt="" />
          <a href="category.html" class="cat">dessert</a>
          <div class="name">delicious dessert 01</div>
          <div class="flex">
            <div class="price"><span>$</span>3<span>/-</span></div>
            <input
              type="number"
              name="qty"
              class="qty"
              min="1"
              max="99"
              value="1"
              onkeypress="if(this.value.length == 2) return false;"
            />
          </div>
        </form>

        <form accept="" method="post" class="box">
          <a href="quick_view.html" class="fas fa-eye"></a>
          <button
            class="fas fa-shopping-cart"
            type="submit"
            name="add_to_cart"
          ></button>
          <img src="uploaded_img/drink-1.png" alt="" />
          <a href="category.html" class="cat">drinks</a>
          <div class="name">fresh drink 01</div>
          <div class="flex">
            <div class="price"><span>$</span>3<span>/-</span></div>
            <input
              type="number"
              name="qty"
              class="qty"
              min="1"
              max="99"
              value="1"
              onkeypress="if(this.value.length == 2) return false;"
            />
          </div>
        </form>

        <form accept="" method="post" class="box">
          <a href="quick_view.html" class="fas fa-eye"></a>
          <button
            class="fas fa-shopping-cart"
            type="submit"
            name="add_to_cart"
          ></button>
          <img src="uploaded_img/dish-2.png" alt="" />
          <a href="category.html" class="cat">dishes</a>
          <div class="name">main dish 02</div>
          <div class="flex">
            <div class="price"><span>$</span>3<span>/-</span></div>
            <input
              type="number"
              name="qty"
              class="qty"
              min="1"
              max="99"
              value="1"
              onkeypress="if(this.value.length == 2) return false;"
            />
          </div>
        </form> -->
      </div>

      <div class="more-btn">
        <a href="menu" class="btn">view all</a>
      </div>
    </section>

    <footer class="footer">
      <section class="box-container">
        <div class="box">
          <img src="images/email-icon.png" alt="" />
          <h3>Email</h3>
          <a href="mailto:bhoot@gmail.com">bhoot@gmail.com</a>
          <a href="mailto:petni@gmail.com">petni@gmail.com</a>
        </div>

        <div class="box">
          <img src="images/clock-icon.png" alt="" />
          <h3>Opening hours</h3>
          <p>Everyday</p>
          <p>00:07am to 00:10pm</p>
        </div>

        <div class="box">
          <img src="images/map-icon.png" alt="" />
          <h3>Find us in</h3>
          <a href="#">Chander desh, Dhaka</a>
          <a href="#">Shurjer desh, Chatga</a>
        </div>

        <div class="box">
          <img src="images/phone-icon.png" alt="" />
          <h3>Phone</h3>
          <p>+880 1521-703875</p>
          <p>+880 1640-922106</p>
        </div>
      </section>

      <div class="credit">
        &copy; copyright @ 2023 by <span>Bhoot & Petni</span> | All rights
        reserved
      </div>
    </footer>

    <div class="loader">
      <img id="pizza" src="images/pizza-loading.svg" alt="loading screen">
      <p class="loading">Loading...</p>
    </div>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/script.js"></script>

    <!-- <script>
      var swiper = new Swiper(".home-slider", {
        loop: true,
        grabCursor: true,
        effect: "flip",
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script> -->
  </body>
</html>