<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>update profile</title>

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header class="header">
      <section class="flex">
        <a href="home" class="logo">La Ratatouille</a>
        <div class="right">
          <nav class="navbar">
            <a href="home">Home</a>
            <a href="menu">Menu</a>
            <a href="orders">Orders</a>
          </nav>
          <div class="icons">
            <a href="cart"><i class="fas fa-shopping-cart"></i></a>
            <div id="user-btn" class="fas fa-user"></div>
            <div id="menu-btn" class="fas fa-bars"></div>
          </div>
          <div class="profile">
            <p class="name"><%=user.firstname %></p>
            <div class="flex">
              <a href="profile" class="btn">profile</a>
              <a href="logout" class="delete-btn">logout</a>
            </div>
          </div>
        </div>
      </section>
    </header>

    <section class="form-container">
      <form action="/update_profile" method="POST">
        <h3>update profile</h3>
        <input
          type="text"
          required
          maxlength="20"
          name="name"
          placeholder="enter your name"
          class="box"
          oninput="this.value = this.value.replace(/\s/g, '')"
          value="shaikh anas"
        />
        <input
          type="email"
          required
          maxlength="50"
          name="email"
          placeholder="enter your email"
          class="box"
          oninput="this.value = this.value.replace(/\s/g, '')"
          value="shaikhanas@gmai.com"
        />
        <input
          type="numner"
          min="0"
          max="9999999999"
          onkeypress="if(this.value.length == 10) return false;"
          placeholder="enter your number"
          required
          class="box"
          name="number"
          value="1234567890"
        />
        <input
          type="password"
          maxlength="20"
          name="old_pass"
          placeholder="enter your old password"
          class="box"
          oninput="this.value = this.value.replace(/\s/g, '')"
        />
        <input
          type="password"
          maxlength="20"
          name="new_pass"
          placeholder="enter your new password"
          class="box"
          oninput="this.value = this.value.replace(/\s/g, '')"
        />
        <input
          type="password"
          maxlength="20"
          name="confirm_pass"
          placeholder="confirm your new password"
          class="box"
          oninput="this.value = this.value.replace(/\s/g, '')"
        />
        <input type="submit" value="update now" class="btn" name="submit" />
      </form>
    </section>

    <footer class="footer">
      <section class="box-container">
        <div class="box">
          <img src="images/map-icon.png" alt="" />
          <h3>Find us in</h3>
          <a href="#">Mirpur, Dhaka</a>
          <a href="#">Anderkilla, Chittagong</a>
        </div>

        <div class="box">
          <img src="images/clock-icon.png" alt="" />
          <h3>We're open</h3>
          <p>Everyday</p>
          <p>from 07am to 10pm</p>
        </div>

        <div class="box">
          <img src="images/email-icon.png" alt="" />
          <h3>Email</h3>
          <a href="mailto:laratatoulli@gmail.com">laratatoulli@gmail.com</a>
          <a href="mailto:laratatoulli@outlook.com">laratatoulli@outlook.com</a>
        </div>

        <div class="box">
          <img src="images/phone-icon.png" alt="" />
          <h3>Phone</h3>
          <p>+880 1521-703875</p>
          <p>+880 1640-922106</p>
        </div>
      </section>

      <div class="credit">Made with ❤️ by <span>Mitu & Saif</span></div>
    </footer>

    <div class="loader">
      <img id="pizza" src="images/pizza-loading.svg" alt="loading screen" />
      <p class="loading">Loading...</p>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
